/*
Author: Mariia Kostina
Date: 09/11/2025
File Name: styles.css
*/

/* CSS reset */ 
body, header, nav, main, footer, h1, div,  img, ul {    
    margin: 0;   
    padding: 0;   
    border: 0;     
}

body {   /* Add the body selector */ 
    background-color: #000;   /* Set the background colour */ 
}   /* Closing brace for the body selector */

img { 
    max-width: 100%;
    display: block; 
}

/* Style rules for mobile viewport */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #000;
    height: 192,5px;
}

header img {
    margin: 0 auto;
    width: 306px;
    display: block;
    float: left;
}


nav {  
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {  /* add the ul selector nested within a nav element */ 
    list-style-type: none;  /* Remove the bullet marker */  
    text-align: center; /* Align the unordered list to the right */ 
} 

nav li {
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
    border-top: 1px solid #fff;
}


nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;

}

/* Show mobile class, hide tablet-desktop class */
.mobile {
    display: block;
}
.tablet-desktop {
    display: none;
} 

main {  
    display: flow-root;
    clear: left;
    background-color: #fff;   
    padding: 2%;  
    font-size: 1.15em;    /* clears a float to the left */
    font-family: 'Roboto Slab', serif;
}  

.hours {
    margin-left: 10%;
} 

.tel-link {
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
} 

.action {    
    font-size: 1.35em;     
    color: #666600;     
    font-weight: bold;        
}   


#general-services, #annual-checkup {      
    margin: 0 2%;    
}

#story, #facilities {
    margin: 0 2%;
}

.round {
    border-radius: 8px;
} 

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px) { 

    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    } 

    /* Tablet Viewport: Style rule for header */
    header {
        position: static;
        padding-bottom: 2%;
    } 

    /* Tablet Viewport: Style rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }
    
    nav li:last-child {
        border-right: none;
    }
    
    nav li a {
        padding: 0.1em 0.75em;
    } 

} 

/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px) {

    /* Desktop Viewport: Style rule for header */
    header {
        width: 25%;
        float: left;
        padding-bottom: 0;
    }

    /* Desktop Viewport: Style rules for nav area */
    nav {
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
    } 


    nav ul {
        text-align: right;
    }
    
    nav li {
        border: none;
    }
    
    nav li a {
        padding: 0.5em 1em;
    } 

    main {
        clear: left;
    }
    
    main h1 {
        font-size: 1.8em;
    } 

    #general-services, #annual-checkup{
        width: 45%;
        float: left;
        margin: 0 2%;
    
    }
    
    #story, #facilities {
        width:49%;
        float: left;
        margin:0.2%;
    } 

    #out_staff {
        clear:left;
    }

}

#our-staff {
    clear: left;               
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #f2f2f2;
    padding: 1% 2%;
}

#featured-article {
  clear: left;               
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #f2f2f2; 
  padding: 1% 2%;
}


#contact {
  text-align: center;
}

#contact a {
  color: #666600;
  text-decoration: none;
}

#hero img {
    width: 100%;
    max-height: 375px;
    object-fit: cover;
}

footer p {  
    font-size: 0.75em;  
    text-align: center;  
    color: #fff;  
    padding: 0 1em;  
}   

footer p a { 
    color: #fff;  /* Sets the link colour */ 
    text-decoration: none;    

}  











